<div ng-controller="DemoCtrl">
  <div class="header">
    <h1 id="main-title" class="container">angularSails Demo App.</h1>
    <h3 class="container">Open another tab and chat away!</h3>
  </div>

  <div class="main container clearfix">
    <div>
      <h2>Chat Support</h2>
      <form ng-submit="publishMsg()">
        <label>Add a message:</label>
        <input type="text" ng-model="newMessage.body"></input>
        <button ng-click="postMessage(newMessage)">Submit</button>
      </form>
      <ul>
        <li class="message" ng-repeat="message in messages | orderBy: '-createdAt'">
          <span><strong>{{message.author}}</strong></span>
          <em>posted at {{message.updatedAt | date:'hh:mm a'}}
            <p>{{message.body}}</p>
          </li>
        </ul>
      </div>
  </div>
</div>
